<!--/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}-->
  #Required{
    float: left;
    width: 1100px;
    height: 200px;
    margin: 10px;
    padding: 5px;
    border: 4px solid black;
  }

  #Prereqs {
    float: left;
    width: 900px;
    height: 200px;
    margin: 10px;
    padding: 5px;
    border: 4px solid black;
  }

  #SemesterBlock{
    float: left;
    width: 1100px;
    height: 200px;
    margin: 10px;
    padding: 5px;
  }


  Semester{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 5px;
    border: 4px solid black;
  }

  #Info{
    float: left;
    top: 600px;
    width: 500px;
    height: 150px;
    margin: 10px;
    padding: 5px;
    border: 4px solid black;
  }

  #Conflicts{
    float: left;
    width: 500px;
    height: 150px;
    margin: 10px;
    padding: 5px;
    border: 4px solid black;
  }

  *[draggable=true]
  {
    width: 50px;
    height: 30px;
    float: left;
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
  }

  .title
  {
    background-color:#3366ff;
    text-align:center;
    color:white;
    padding: 2px 0px;
  }


  #above
  {
    height:1000px;
  }

  #InformationBlock
  {
    float: left;
    width: 1100px;
    height: 200px;
    margin: 10px;
    padding: 10px;
  }
}
